# ── API Gateway ──────────────────────────────────────────────────────────────
GATEWAY_PORT=80
DASHBOARD_PORT=8090

# ── Keycloak ──────────────────────────────────────────────────────────────────
KEYCLOAK_REALM_URL=http://localhost:8080/realms/experience
